html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

body {
    margin: 0;
}

/* Header */

header {
    display: flex;
    border-bottom: 1px solid seashell;
    height: 69px;
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 10;
}

.nav {
    display: inline-flex;
    text-align: right;
    margin: auto 0;
}

#logo { 
    height: 50px;
    margin: auto 10px;
}

/* Our Mission */

#mission {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 69px;
    background-image: url("img/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

#mission .mission-text {
    background-color: black;
    width: 1200px;
}

/* Tea of the month */

#tea-month {
    position: relative;
    top: 69px;
    width: 1000px;
}

.tea-month {
    display: flex;
}

.tea-img {
    display: inline-flex;
    height: 200px;
    width: 300px;
}

/* location */

#locations {
    background-image: url("img/img-locations-background.jpg");
    display: inline-flex;
    height: 500px;
    position: relative;
    top: 169px;
}

#locations div {
    background-color: black;
    width: 300px;
    margin: 15px 40px;
    opacity: 1;
}